.btnContainer {
    margin-top: 20px;
}

.btnHome {
    background: rgb(247, 66, 102);
    color: white;
    height: 40px;
    width: 160px;
    border-color: rgb(247, 66, 102);
    border-radius: 10px;
}

.btnHome:hover {
    background: rgb(138, 95, 104);
    border-color: rgb(138, 95, 104);
}

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title {
    background-color: rgba(51, 49, 50, 0.8);
    color: white;
    width: 750px;
    margin-left: 20%;
    border-radius: 20px;
}

.imagen {
    width: 400px;
    height: 300px;
    justify-content: center;
    margin-top: 10px;
    border: 45px solid rgba(51, 49, 50, 0.8);
    border-radius: 30px;

}

.score {
    background-color: rgba(51, 49, 50, 0.8);
    color: white;
    border-radius: 20px;
    width: 600px;
}

.healthScore {
    background-color: rgba(51, 49, 50, 0.8);
    color: white;
    border-radius: 20px;
    width: 600px;
}

.diets {
    background-color: rgba(51, 49, 50, 0.8);
    color: white;
    border-radius: 20px;
    width: 600px;
    line-height: 25px;
}

.sectionTwo {
    padding-top: 50px;
}


.dishTypes {
    background-color: rgba(51, 49, 50, 0.8);
    color: white;
    list-style: none;
    border-radius: 20px;
    width: 600px;
    line-height: 25px;

}

.summary {
    background-color: rgba(51, 49, 50, 0.8);
    color: white;
    width: 1180px;
    margin-left: 100px;
    border-radius: 20px;

}

.summary a {
    text-decoration: none;
    color: rgb(247, 66, 102)
}

.instructions {
    background-color: rgba(51, 49, 50, 0.8);
    color: white;
    width: 1180px;
    margin-left: 100px;
    border-radius: 20px;
}

.sangria {
    width: 1000px;
    margin-left: 85px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.sangriaTwo {
    width: 1000px;
    margin-top: 30px;
    margin-left: 85px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-bottom: 30px
}

@media (min-width: 100px) and (max-width: 650px) {
    .title {
        width: 350px;
        height: 20px;
        margin: 0% auto;
    }

    .title h2 {
        font-size: 13px;
    }

    .section {
        display: inline-block;
        vertical-align: middle;
    }

    .imgCont {
        width: 250px;
        height: 150px;
    }

    .imagen {
        width: 200px;
        height: 100px;
    }

    .score {
        width: 200px;
        height: 25px;

    }

    .score h3 {
        font-size: 14px;
    }

    .healthScore {
        width: 200px;
        height: 25px;
        margin-bottom: 3%;
    }

    .healthScore h3 {
        font-size: 14px;
    }

    .diets {
        width: 350px;
        height: 70px;
    }

    .diets h3,
    .diets p {
        font-size: 14px;
        margin: 0%;
    }

    .dishTypes {
        width: 350px;
        height: 60px;
        margin-top: 3%;
    }

    .dishTypes h3,
    .dishTypes p {
        font-size: 14px;
        margin: 0%;
    }

    .summary {
        margin: 0%;
        width: 370px;
        padding: 0%;
    }

    .sangria {
        width: 370px;
        margin: 0%;
        padding: 0%;
    }

    .sangria p {
        font-size: 10px;
    }
    .sangria h3{
        font-size: 15px;
    }
    .sangriaTwo{
        width: 370px;
        margin: 0%;
        padding: 0%;
    }
    .instructions {
        margin: 0%;
        width: 370px;
        padding: 0%;
    }
    .sangriaTwo p {
        font-size: 10px;
    }
    .sangriaTwo h3{
        font-size: 15px;
    }


}