.btnContainerC {
    margin-top: 20px;
}

.btnHomeC {
    background: rgb(247, 66, 102);
    color: white;
    height: 40px;
    width: 160px;
    border-color: rgb(247, 66, 102);
    border-radius: 10px;
}

.btnHomeC:hover {
    background: rgb(138, 95, 104);
    border-color: rgb(138, 95, 104);
}

.titleForm {
    background-color: rgba(51, 49, 50, 0.8);
    color: white;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.container {
    border-radius: 30px;
    background-color: rgba(51, 49, 50, 0.8);
    height: 920px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    display: grid;
    justify-content: center;
}

.diets select {
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.form span {
    color: #f21f1f;
}

.required {
    color: white;
    font-size: 12px;
}

.form h4 {
    color: white;
    font-size: 15px;
    width: 200px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.form input {
    border-radius: 5px;
    width: 200px;
}

.btnContainerCreate {
    margin-top: 40px;
    margin-bottom: 70px;
}

.btnCreate {
    background: rgb(247, 66, 102);
    color: white;
    height: 40px;
    width: 160px;
    border-color: rgb(247, 66, 102);
    border-radius: 10px;
}

.btnCreate:hover {
    background: rgb(138, 95, 104);
    border-color: rgb(138, 95, 104);
}

.errors {
    color: #f21f1f;
    font-size: 12px;
}

.delete {
    display: grid;
    margin-top: 50px;
    border-radius: 25px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    grid-auto-rows: minmax(50px, auto);
    background-color: rgba(51, 49, 50, 0.8);

}

.opDelete {
    color: white
}

.btnDelete {
    border-radius: 3px;
    color: white;
    background: black;
}

.btnDelete:hover {
    background: rgb(18, 18, 18);
    border-color: rgb(18, 18, 18);

}