.footer {
    background-color: rgba(51, 49, 50, 0.8);
    text-align: center;
    bottom: 0;
    width: 100%;
    color: white;
}

.leyenda {
    text-align: center;
    color: white;
    justify-content: center;
}