.search button {
    background: rgb(247, 66, 102);
    border-color: rgb(247, 66, 102);
    color: white;
    border-radius: 10px;
    width: 110px;
    height: 25px;
}

.search button:hover {
    background: rgb(138, 95, 104);
    border-color: rgb(138, 95, 104);
}

.search input {
    border-radius: 10px;
    width: 200px;
    height: 20px;
    border-color: black;
}