
.container {
  width: 100%;
  height: 390px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card {
  width: 325px;
  height: 340px;
  float: left;
  border-radius: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  margin: 15px;
  transition: all 0.25s;
  background-color: rgba(51, 49, 50, 0.8);
  color: white;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 25px 25px rgba(247, 66, 102, 0.8);
  height: 340px;
  width: 345px;
}

.card img {
  width: 200px;
  height: 120px;
  border-radius: 10px;
}

.card h2 {
  color: white;
}

.card p {
  color: white;
  font-size: 15px;
}

.card a {
  text-decoration: none;
  color: rgb(247, 66, 102);
}