.paginated {
  display: flex;
  justify-content: row;
  justify-content: center;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

button {
  cursor: pointer;
}

.btnPag {
  background: rgba(51, 49, 50, 0.8);
  color: white;
  border-radius: 7px;
  width: 40px;
  height: 30px;
}

.btnPag:hover {
  background: black;
}

.btnPag:focus {
  background-color: rgb(247, 66, 102);
  color: white;
}